/************generel OiN adaptions *********************/

/***adaptions layout 1300px one sidebar********/
main#content > section.section > div.region > div.views-element-container {
  max-width: 1000px;
}

@media (min-width: 1100px) {
main#content div.view-content {
  min-width: 1000px;
}
}

/********************page title and header region **************************************/

/****white title in third-level********/
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > 
section.section > div.region > div[class*="wisski_bundle_b"] > div.la {
  margin-top: -80px;
}

/*****suchschlitz**************/
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > 
section.section > div.region > div.views-element-container > div.view-suche > div.view-filters {
  top: -90px;
  max-width: fit-content;
}

h1.page-header {
  display: flex;
  font-size: 28px;
 #margin-bottom: 80px;
 #font-size: 2.7777777rem;
  margin-bottom: 90px;
  margin-top: -120px;
  color: white;
  border-bottom: none;
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1.page-title {
  font-size: 1.357em;
}

/*****site branding fachsysteme*******/
section.site-branding div.site-branding__text {
  position: absolute !important;
  font-size: 16px !important;
  color: #036 !important;
  font-weight: bold;
  display: flex;
  overflow: hidden;
  width: auto;
  top: -1.4em;
  padding-bottom: 0px;
  background-color: transparent;
  z-index: -1000;
  white-space: nowrap;
}

nav.tabs {
  margin-top: 100px;
  z-index: 10;
}

/*** beta-version ***/
section#block-version {
  transform: rotate(20deg);
  font-weight: bold;
  color: red;
  font-size: 18px;
  margin-top: -35px;
  margin-right: 50px;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  padding: 5px;
  border: 3px solid red;
  z-index: 2000;
  max-width: 65px;
  float: right;
}

/********palaeo specific***********/
section#block-version div.layout--1300px--none div.layout__region--bottom {
 padding: 0px;
 margin: 0px;
}

section#block-version div.layout--1300px--none div.layout__region--title {
 padding: 0px;
 margin: 0px;
}

section#block-version div.layout--1300px--none div.layout__region--center {
 padding: 0px;
 margin: 0px;
}

section#block-version div.layout--1300px--none div.layout__region--top {
 padding: 0px;
 margin: 0px;
}


/*** beta-version for mobile***/
@media only screen and (max-width: 1099px) {
section#block-version {
  transform: rotate(20deg);
  font-weight: bold;
  color: red;
  font-size: 13px;
  margin-top: -30px;
  margin-left: 100px;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  padding: 5px;
  border: 3px solid red;
  z-index: 2000;
  max-width: 65px;
  float: left;
}
}

/****************header-level****************/

div#first-level {
  padding-right: 240px;
}

div#first-level .dropdown-menu > li > a {
  color: #003366;
}

div#first-level-wrapper {
  background-color: #e9edf2;
}

div#second-level div#main-menu {
  background-color: inherit;
#  background: url(images/siegel-zuv-schnitt.png) no-repeat 95% bottom,radial-gradient(ellipse at center, #0059b3 0%, #036 100%);
}

div#second-level div#main-menu div > nav > div.dropdown > ul > li > a {
  border-left: 1px solid white;
  color: white;
}

div#second-level-wrapper {
#  background: url(images/siegel-zuv-schnitt.png) no-repeat 95% bottom,radial-gradient(ellipse at center, #0059b3 0%, #036 100%);
  background: white;
}

div#second-level-wrapper div#header-items {
  position: absolute;
}

div#second-level div#main-menu {
  width: 960px;
  margin-right: 140px;
}

div#second-level div#main-menu > div.region {
  padding-top: 10px;
}

div#second-level div#main-menu div > nav > div.dropdown > ul > li > a {
  color: #036 !important;
  font-size: 1.1333333333rem !important;
  line-height: 1.1333333333rem !important;
  text-transform: initial !important;
  font-weight: bold !important;
  font-size: 17px !important;
  line-height: 17px !important;
}

div#third-level-wrapper a {
  color: white;
}

div#third-level-wrapper > div#third-level > div ol li {
  color: white;
  font-size: 12px;
}

div#third-level-wrapper > div#third-level {
  padding-top: 10px;
}

div#third-level-wrapper {
  background: url(../images/siegel-zuv-schnitt.png) no-repeat 95% bottom,radial-gradient(ellipse at center, #0059b3 0%, #036 100%);
  min-height: 170px;
}

/*********fau-logo**********/
div#gnm-logo {
  margin: 0px !important;
}

div#gnm-logo img {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  right: 240px;
}

/*********************** responsive adaptions*********************************/
@media (min-width: 1100px) {
div.header-level {
  width: 1300px;
}
}

@media only screen and (max-width: 1599px) {
div#main-wrapper div#main {
  justify-content: flex-start;
  padding-left: 10px;
}
}

@media only screen and (max-width: 1599px) {
section#block-oin-palaeo-branding {
  padding-left: 10px;
}
}

/****************login*********************************/
@media (max-width: 1099px) {
div#first-level {
  padding-right: 5px;
}
}

@media only screen and (max-width: 768px) {
div#first-level {
  padding-right: 0px;
}
}

/*****************fau logo ******************/
@media (max-width: 768px) {
div#second-level div#gnm-logo img {
  right: 0px;
}
}

/**align menu and page title***/
@media (max-width: 1599px) {
div#second-level div#main-menu div > nav > div {
  padding-left: 10px;
}
}

@media (max-width: 1099px) {
div#second-level div#main-menu div > nav > div .btn {
  padding-left: 5px;
}
}

@media (max-width: 1099px) {
div#second-level div#main-menu ul.dropdown-menu {
  background-color: white;
}
}

@media (max-width: 1099px){
div#second-level div#main-menu div > nav > .dropdown {
    margin-top: 5px;
    display: block !important;
}
}


@media (max-width: 1099px) {
div#second-level div#main-menu div > nav > div > button {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
}

@media (min-width: 1100px) {
div#second-level div#main-menu div > nav > div.dropdown > ul > li {
  padding-bottom: 5px;
}
}

@media (max-width: 1099px) {
h1.page-header {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 0px;
  border-bottom:  1px solid #eee;
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #036;
}
}

/**overlay dropdown menu above main-content(page title or header)**/
@media (max-width: 1099px) {
div#main-wrapper main#content {
  z-index: 0 !important;
}
}

@media (max-width: 1099px) {
div#header-items section.site-branding div.site-branding__text {
  top: -1.4em;
}
}

@media (max-width: 1299px){
div#third-level-wrapper > div#third-level {
    padding-top: 10px;
    padding-left: 10px;
}
}
/*******************sammlungsobjektansicht********************************/
div.field--item span.file-link a {
  display: inherit !important;
}

/* gallery for too many img (region:secondabove):
 * first img ->under Manage display in Sammlungsobjekt:
 * Configuration for img: first child = large, others = thumb or other
 * small image styles
 */

div.layout__region--secondabove div.field--name-f9f6ec483af5d17f193e5b999dc0843e div.field--item {
  display: inline-block;
}

div.layout__region--secondabove div.field--name-f9f6ec483af5d17f193e5b999dc0843e div.field--item:first-child {
  padding-bottom: 10px;
}

div.layout div.layout__region--combined div.layout__region--second {
  justify-content: left;
}

/*********** generel layout changes for bricks****************/

/****************borderlines********************************/
/****region--bottom*******/
div.layout div.layout__region--bottom {
  clear: both;
  padding-top: 20px;
 #border-top: 2px solid #e5e5e5;
}

/*****no borderline for region--bottom layout--twocol****/
div.layout--twocol div.layout__region--bottom {
  clear: both;
  padding-top: 20px;
  border-top: unset;
}

/****borderline between firstabove and firstbelow******/
div.layout div.layout__region--combined div.layout__region--first div.layout__region--firstabove {
  padding-bottom: 15px;
}

div.layout div.layout__region--combined div.layout__region--first div.layout__region--firstbelow {
  clear: both;
  border-top: 2px solid #e5e5e5;
  padding-top: 20px;
}

/****borderline between secondabove and secondbelow*****/
/**
div.layout div.layout__region--combined div.layout__region--first
div.layout__region--secondabove{
  padding-bottom: 15px;
}
div.layout div.layout__region--combined div.layout__region--second div.layout__region--secondbelow{
  border-top: 2px solid #e5e5e5;
  padding-top: 10px;
}
**/

/******no borderline with entity reference (Schachtelung in Objektansicht)************/
div.layout--twocol--1300px--one--bricks div.layout__region--combined div.layout__region--first
div.layout__region--firstbelow div.layout--twocol div.layout__region--bottom {
  border-top: transparent;
  padding-top: 0px;
}

div.layout--twocol--1100px--none--bricks div.layout__region--combined div.layout__region--first
div.layout__region--firstbelow div.layout--twocol div.layout__region--bottom {
  border-top: transparent;
  padding-top: 0px;
}

@media screen and (min-width: 40em) {
div.layout--twocol  div.layout__region--bottom {
  padding-top: 20px;
  border-top: unset;
}
}

div.field div.field--item {
  padding-bottom: 5px;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference div.field--item {
  display: block;
}

/**************palaeo specific changes **********************************/

/**************geofield map**********************/
div.field--type-geofield {
  #display: contents;
  max-width: 480px !important;
  min-width: 250px !important;
}

/***noch noetig? leaflet umstellung*****/
div.field--type-geofield div.geofield-google-map {
  max-width: 480px !important;
  min-width: 250px !important;
}

@media only screen and (max-width: 480px) {
div.field--type-geofield {
  display: contents;
  min-width: unset;
  max-width: 100%;
  height: auto;
}
}

@media screen and (min-width: 40em) {
div.layout--twocol > div.layout__region--first {
  flex: 44%;
}
}

/*****text long*********/
div.field--type-text-long.field--label-above div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
}

div.field--type-text-long div.field--items {
  padding-bottom: 5px;
}

div.field--type-text-long.field--label-above div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 6;
  padding-bottom: 5px;
}

div.field--type-text-long {
  display: contents;
  grid-column-start: 1;
  grid-column-end: 6;
}

div.field--label {
  font-weight: bold !important;
}

div.layout__region--combined div.layout__region--second div.layout__region--secondbelow div.field--item {
  margin-right: 15px;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-string.field--label-above > div.field--item {
  padding-bottom: 5px;
}

div.layout div.layout__region--combined div.layout__region--first 
div.layout__region--firstbelow div.field--type-entity-reference div.field--item {
  display: block !important;
}

div.layout__region div.layout__region--combined div.layout__region--second 
div.layout__region--secondbelow div.field--type-entity-reference div.field--items div.field--item {
  display: block;
}

div.layout div.layout__region--combined div.layout__region--first div.layout__region--firstbelow  
div.field--type-entity-reference.field--label-above > div.field--label {
  min-width: 170px;
}

div.layout div.layout__region--bottom div.field.field--label-above div.field--label {
  padding-right: 10px;
}

div.layout div.layout__region--center div.field {
  display: block;
}

/***schachtelung***/

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference 
div.layout--onecol div.layout__region {
  display: block;
}

div.layout div.layout__region--combined div.layout__region--first div.layout__reagion--firstbelow 
div.field--type-entity-reference div.layout--onecol div.layout__region {
  display: grid;
}

div.layout div.layout__region--combined div.layout__region--second div.layout__region--secondbelow 
div.field--type-entity-reference div.layout--onecol div.layout__region 
div.field--type-entity-reference div.layout__region--first {
  display: block;
  justify-content: left;
}

div.layout--twocol--1100px--nosidebar--bricks div.layout__region--combined div.layout__region--second 
div.field--type-entity-reference div.field--items  div.field--item {
  display: block;
}

div.layout--twocol--1100px--none--bricks div.layout__region--combined div.layout__region--first 
div.layout__region--firstbelow div.layout--twocol div.layout__region--second {
  padding-left: 0px;
}

div.layout--twocol--1300px--onesidebar--bricks div.layout__region--combined div.layout__region--second 
div.field--type-entity-reference div.field--items  div.field--item {
  display: block;
}

div.layout--twocol--1300px--one--bricks div.layout__region--combined div.layout__region--first 
div.layout__region--firstbelow div.layout--twocol div.layout__region--second {
  padding-left: 0px;
}

/***********************view-suche**************************/

/****Filter Volltextsuche*****/
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > 
div.region > div.views-element-container > div.view-suche > div.view-filters
form.views-exposed-form > div.form--inline > div.form-item {
  padding-right: 15px;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section >
div.region > div.views-element-container > div.view-suche > div.view-filters
form.views-exposed-form  div.form--inline  div.form-item
label.control-label {
 display: block;
}

@media (min-width: 768px) {
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section >
div.region > div.views-element-container > div.view-suche > div.view-filters
form.views-exposed-form > div.form--inline > div.form-item
div.select-wrapper select {
  min-width: 140px;
}
}

@media (min-width: 768px) {
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section >
div.region > div.views-element-container > div.view-suche > div.view-filters
form.views-exposed-form > div.form--inline > div.form-group {
  vertical-align: unset;
}
}

/****image*********/

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section 
> div.region > div.views-element-container > div.view-suche div.view-content span.views-field 
span.field-content div.layout div.field--name-f9f6ec483af5d17f193e5b999dc0843e div:first-child {
  display: block !important;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section 
> div.region > div.views-element-container > div.view-suche div.view-content span.views-field 
span.field-content div.layout div.field--name-f9f6ec483af5d17f193e5b999dc0843e div:first-child img {
  #width: 200px;
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 300px;
  object-fit: cover;
}

div.view-suche div.view-content div.views-view-grid div.views-col {
  padding-right: 15px;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > 
div.views-element-container > div.view-suche div.view-content span.views-field span.field-content div.layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

/******change order: show img first*********/
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > 
div.views-element-container > div.view-suche div.view-content span.views-field span.field-content div.layout div.layout__region--second {
  padding: 0px !important;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

/*******hide other img and region first************/
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > 
div.views-element-container > div.view-suche div.view-content span.views-field span.field-content 
div.layout div.field--name-f9f6ec483af5d17f193e5b999dc0843e div {
  display: none;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > 
div.views-element-container > div.view-suche div.view-content span.views-field span.field-content div.layout__region--first {
  display: none !important;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > 
div.views-element-container > div.view-suche div.view-content span.views-field span.field-content div.layout__region--combined
  div.layout__region--second div.field--item {
  margin-bottom: 0px;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > 
div.views-element-container > div.view-suche div.view-content span.views-field span.field-content div.layout__region--second {
  display: flex !important;
  flex-basis: 100% !important;
  justify-content: center !important;
  float: none !important;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > 
div.views-element-container > div.view-suche div.view-content span.views-field span.field-content div.layout__region--title > 
div.field--name-name > a {

}

/******change order: show title second**************/
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > 
div.region > div.views-element-container > div.view-suche div.view-content span.views-field span.field-content div.layout__region--title {
  position: relative;
  display: flex !important;
  flex-basis: 100% !important;
  #justify-content: unset;
  width: 90%;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
 -webkit-order: 2;
  order: 2;
  margin-top: -20px !important;
  padding-top: 0px !important;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > div.views-element-container 
> div.view-suche div.view-content span.views-field span.field-content div.layout__region--title > div.field {
  font-size: 1.8rem !important;
  font-weight: normal;
  padding-bottom: 15px;  
}

/*********************responsive view-suche************************/

/****optional: img with height-constraints*******/
@media only screen and (max-width: 768px) {
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > 
div.region > div.views-element-container > div.view-suche div.view-content span.views-field 
span.field-content div.layout div.field--name-f9f6ec483af5d17f193e5b999dc0843e div:first-child img {
  max-height: 200px;
}
}

/********reduce object per row********/
@media only screen and (max-width: 768px) {
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > 
div.region > div.views-element-container > div.view-suche div.view-content div.views-view-grid div.views-row div.views-col {
  width: 50% !important;
}
}

@media only screen and (max-width: 480px) {
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > 
div.region > div.views-element-container > div.view-suche div.view-content div.views-view-grid div.views-row div.views-col {
  width: 100% !important;
}
}

@media only screen and (max-width: 768px) {
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > 
div.views-element-container > div.view-suche div.view-content span.views-field span.field-content div.layout__region--first {
  display: none !important;
}
}

@media (min-width: 1100px) {
main#content > section.section > div.region > div.views-element-container div.view-id-suche {
  width: 1000px;
  margin-top: -10px;
}
}

@media (min-width: 1100px) {
main#content > section.section > div.region > div.views-element-container div.view-id-suche div.view-header {
  width: 1000px;
}
}

@media (min-width: 1100px) {
main#content > section.section > div.region > div.views-element-container div.view-id-suche div.view-content {
  min-width: 800px;
}
}

/**RESET Button**/
button.btn-danger {
  background-color: #036;
  border-color: #036;
}

.search-row.views-row {
  clear: both;
  float: left;
  padding-bottom: 50px;
  width: 100%;
}

.search-row.views-row div.layout {
  max-width: 100%;
  width: 100%;
  word-break: break-word;
}

main#content > section.section > div.region > div.views-element-container > div.view-id-suche nav.pager-nav {
  clear: both;
}

header#header div.region-secondary-menu nav div.dropdown ul li a[href="/suche"]:before {
  content: "\e003";
  position: absolute;
  top: 0px;
  left: -10px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

header#header div.region-secondary-menu nav div.dropdown ul li a[href="/suche"] {
}

/*********************sidebar styling*********************/

/********facets***************/
section.block-facets h3 {
  padding-bottom: 5px;
  margin-bottom: 0px;
  font-size: 1.8rem;
}

/*********sidebar second ***********/
/**
div#sidebar-second aside.section div.region section.block-views {
  padding-bottom: 10px;
}
**/

/***readmore***/
div#sidebar-second aside.section div.region section.block-views div.field div.field--items {
  list-style-type: none;
  padding-left: 15px;
  margin-bottom: 15px;
}

/***no text indent at line break***/
div#sidebar-second ul {
  text-indent: 0px; 
}

div#sidebar-second aside.section div.well.region.region-sidebar-second {
  background-color: white;
  border: white;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/**************sidebar first******/
div#sidebar-first aside.section div.region section.block {
  padding-bottom: 10px;
}

div#sidebar-first h2.block-title {
  font-size: 1.8rem;
  font-weight: bold !important;
}

/*********responsive adaptions*****************/

/**location of slidebar: right**/

@media only screen and (min-width: 1100px) {
div#sidebar-second {
  left: 0px;
  margin-left: 50px;
  z-index: 2;
}
}

/***location of sidebar: before main#content****/
/**@media only screen and (max-width: 1329px) {
div#sidebar-second {
  order: 1;
  margin-right: 50px;
  margin-left: 5px;
  z-index: 2;
  left: 0px;
}
}
@media only screen and (max-width: 1329px) {
div#sidebar-second aside.section div.region-sidebar-second {
  display: flex;
  flex-basis: 30%;
  
}
}**/
/**end of changes: before main#content**/

@media only screen and (max-width: 1399px) { 
div#sidebar-first {
  margin-left: 10px;
  border-top: solid;
  border-bottom: transparent;
  border-width: 2px;
  border-color: transparent;
  margin-top: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
}

/****************main content ********************/
div#main-wrapper main#content {
  position: relative;
  z-index: 2; 
  width: 1000px;
  padding-top: 20px;
}

div#main-wrapper div[class*="wisski_bundle_b"] div.layout__region--title {
  color: white;
}

div.layout__region--title div.field {
  color: white;
  font-size: 2.7733333333rem !important;
  line-height: 2.7733333333rem;
  padding-bottom: 20px;
}

a {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

html {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-kerning: none !important;
}

html body {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-kerning: none !important;
}

/*******************************footer****************************/
footer {
#  background: url(images/siegel-zuv-schnitt.png) no-repeat 95% bottom,radial-gradient(ellipse at center, #0059b3 0%, #036 100%);
  background-color: #e9edf2;
}

footer div.layout-container {
  max-width: 1300px;
  margin-right: 100px;
}

footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen {
  display: flex;
  justify-content: unset;
  padding-top: 10px;
  clear: both;
}

footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen div#bilddaten {
  padding-right: 10px;
  border-right: 0.5px solid #023d77;
}

footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen div#metadaten {
  padding-left: 10px;
}

footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen div#bilddaten img {
  height: auto;
  max-width: 90px;
  float: right;
  padding-left: 10px;
}

footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen div#metadaten img {
  height: auto;
  padding-left: 10px;
  float: right;
  max-width: 90px;
}

/****responsive footer *****/
@media only screen and (max-width: 999px) {
footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  clear: both;
}
}

@media only screen and (max-width: 1099px) {
footer div.layout-container {
  margin-right: 0px;
}
}

@media only screen and (max-width: 1499px) {
footer div.layout-container div#footer-left div#footer-left-top div#footer-gnm {
  width: unset;
  margin-right: 20px;
  max-width: 250px;
}
}

@media only screen and (max-width: 1499px) {
footer div.layout-container div#footer-left div#footer-left-top div#footer-contactdata {
  width: unset;
  margin-right: 10px;
  max-width: 250px;
  min-width: unset;
}
}

@media only screen and (max-width: 1499px) {
div#footer-left {
  min-width: unset;
  margin-left: 0px;  
}
}

@media only screen and (max-width: 1199px) {
div#footer-left {
  min-width: unset;
  max-width: 45%;
}
}

@media only screen and (max-width: 950px) {
div#footer-left {
  min-width: unset;
  max-width: 100%;
  margin-left: 0px;
}
}

@media only screen and (max-width: 1199px) {
footer div.layout-container div#footer-right div#footer-right-gnm {
  max-width: 200px;
}
}

@media only screen and (max-width: 1199px) {
footer div.layout-container div#footer-right div#footer-right-wisski {
  max-width: 200px;
}
}

@media only screen and (max-width: 1099px) {
footer div.layout-container{
  font-size: 14px;
  justify-content: start;
  -webkit-justify-content: start;
}
}

@media only screen and (max-width: 1599px) {
footer div.layout-container div#footer-right img {
  max-width: 150px;
}
}

@media only screen and (max-width: 1499px) {
footer div.layout-container div#footer-left img {
  max-width: 170px;
}
}

/********sonstiges*******************/
.visually-hidden {
  height: 0px;
}

body a {
  color: #003366;
}

div.select-wrapper:after {
  color: #003366;
}

.views-view-grid div.views-row {
  height: auto;
  width: 100%;
  clear: initial;
}

body.path-wisski div.region-content div#block-halfpastthreegrain-page-title {
  display: none;
  position: absolute;
#  top: 30px;
  left: 17px;
#  left: 98px;
#  max-width: 55%;
  height: 45px;
  overflow: hidden;
#  top: 234px;
#  left: 234px;
}

div.region-content {
  position: relative;
}

/**************************views adaptions*************************/

/****Global str Period*******/
div.views-element-container div.view-b9f3fbb7ba8642cd7e24e91ecc11cffc div.view-header {
  text-align: start;
  font-weight: bold;
  padding-bottom: 30px;
  font-size: 0.9em;
}

div.views-element-container div.view-b9f3fbb7ba8642cd7e24e91ecc11cffc div.view-content div.views-view-grid div.views-row {
  text-align: center;
  padding: 20px; 
}

@media (max-width: 767px){
div#main main#content div.view-b9f3fbb7ba8642cd7e24e91ecc11cffc div.view-content
div.views-col{
  width: 50% !important;
}
}

/*****Local str Period******/
div.views-element-container div.view-bc7dc1be3a269399f471b315eabde2e6 div.view-header {
  text-align: start;
  font-weight: bold;
  padding-bottom: 30px;
  font-size: 0.9em;
}

div.views-element-container div.view-bc7dc1be3a269399f471b315eabde2e6 div.view-content div.views-view-grid div.views-row {
  text-align: center;
  padding: 20px;
}

div#block-halfpastthreegrain-breadcrumbs {
  z-index: 10;
}

@media (max-width: 767px){
div#main main#content div.view-bc7dc1be3a269399f471b315eabde2e6 div.view-content
div.views-col{
  width: 50% !important;
}
}


/**************bef for ABC-Views**********************/

div.bef-link-active a {
  color: black !important;
}
div.views-element-container div.view-filters.form-group .views-exposed-form.bef-exposed-form {
  padding-top: 10px;  
}

/***********Personen**********************/
.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_person > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_person > div > div {
  display: inline-block;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_person {
  float: none;
}

/*****************Koerperschaften**************/

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_organisation > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline  div.form-item-wisski_path_gemeinsame_masken__name_organisation > div > div {
  display: inline-block;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_organisation {
  float: none;
}

/***Geographischer Ort***/
.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_geogr_ort > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_geogr_ort > div > div {
  display: inline-block;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_geogr_ort {
  float: none;
}

/***Fundorte***/
.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_standort > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_standort > div > div {
  display: inline-block;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_standort { 
  float: none;
}


/******************* Startseite Fachsysteme****************************************/

/***intro-text sammlung***/
section#block-sammlung {
  display: inline-grid;
  flex: 20%;
  max-width: 45%;
  flex-direction: row;
  top: -10px;
  margin-left: 5px;
}

section#block-sammlung div.layout div.layout__region--title {
  display: none;
}

@media only screen and (max-width: 1099px) {
section#block-sammlung{
  max-width: 100%;
  order: 2;
  margin: 20px;
}
}

/**slideshow adaptions for 10 img
 * html-code and script: structure > block layout > sliderblock 
 **/
 
div.fade {
  opacity: initial;
  -webkit-transition: initial;
  -o-transition: initial;
  transition: initial;
}

.dotties {
  display: block;
  width: 200px;
  padding-top: 8px;
  margin-right: auto;
  margin-left: auto;
  z-index: 10;
  position: relative;
  top: 0px;
}

div.slideshow-container {
  background: #e5e5e5;
  position: relative;
  margin-right: 10px;
  float: left;
  min-width: 400px;
  margin-left: 0px;
}

section#block-sliderblock {
  display: inline-flex;
  flex: 50%;
  max-width: 50%;
  flex-direction: row;
  margin-right: 10px;
  margin-left: 20px;
  top: -10px;
}

@media only screen and (max-width: 1099px) {
div.slideshow-container {
  max-width: 80%;
}
}

@media only screen and (max-width: 1099px) {
section#block-sliderblock {
  max-width: 80%;
  margin: 20px;
}
}

div.field--label-hidden > div.field__item {
  grid-column-start: 1;
  grid-column-end: 6;
}

/* copyright: https://www.w3schools.com/howto/howto_js_slideshow.asp 05/2018 */
/***startseite slideshow******/
* {box-sizing:border-box}

/* slideshow container */
.slideshow-container {
  max-width: ;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
}
.text h1 {font-weight: normal; font-size: 2em}
.text h2 {}


/* Number text (1/3 etc) - ausgeblendet */
.numbertext {
  display: none;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #0059b3;
  #background-color: #036;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}

}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}

}


/**********views***************************************/
/** Institutionen **/

div#main main#content div.view-b1ce4bdc2e5683f5fdabab02e6627121 div.view-content div.views-col {
  text-align: center;
  padding: 20px;
}

div#main main#content div.view-b1ce4bdc2e5683f5fdabab02e6627121 div.view-filters div.form-item {
  width: 100%;
}

div#main main#content div.view-b1ce4bdc2e5683f5fdabab02e6627121 button {
  display: none;
}

div#main main#content div.view-b1ce4bdc2e5683f5fdabab02e6627121 div.view-header {
  float: right;
  position: absolute;
  top: -20px;
  margin-top: 0px;
  margin-right: 10px;
}

/** Personen **/
div#main main#content div.view-bd9c096f185635434163360c45fc645d div.view-content div.views-col {
  text-align: center;
  padding: 20px;
}

div#main main#content div.view-bd9c096f185635434163360c45fc645d div.view-filters div.form-item {
  width: 100%;
}

div#main main#content div.view-bd9c096f185635434163360c45fc645d button {
  display: none;
}

div#main main#content div.view-bd9c096f185635434163360c45fc645d div.view-header {
  float: right;
  position: absolute;
  top: -20px;
  margin-top: 0px;
  margin-right: 10px;
}

/** Orte **/
div#main main#content div.view-b6bbebe296631e440003692eac4390dc div.view-content div.views-col {
  text-align: center;
  padding: 20px;
}

div#main main#content div.view-b6bbebe296631e440003692eac4390dc div.view-filters div.form-item {
  width: 100%;
}

div#main main#content div.view-b6bbebe296631e440003692eac4390dc button {
  display: none;
}

div#main main#content div.view-b6bbebe296631e440003692eac4390dc div.view-header {
  float: right;
  position: absolute;
  top: -20px;
  margin-top: 0px;
  margin-right: 10px;
}

@media (max-width: 767px){
div#main main#content div.view-b6bbebe296631e440003692eac4390dc div.view-content
div.views-col{
  width: 50% !important;
}
}

/**Fundorte**/
div#main main#content div.view-b5e6bba5bc2f780f78be070b34ab2f5b div.view-content div.views-col {
  text-align: center;
  padding: 20px;
}

div#main main#content div.view-b5e6bba5bc2f780f78be070b34ab2f5b div.view-filters div.form-item {
  width: 100%;
}

div#main main#content div.view-b5e6bba5bc2f780f78be070b34ab2f5b button {
  display: none;
}

div#main main#content div.view-b5e6bba5bc2f780f78be070b34ab2f5b div.view-header {
  float: right;
  position: absolute;
  top: -20px;
  margin-top: 0px;
  margin-right: 10px;
}

/* adaptions away from gnm2018 */

div.layout div.layout__region--combined div.layout__region--second {
  display: grid;
  flex-basis: 47%;
  justify-content: left;
  padding-left: 10px;
  padding-top: 10px;
}

@media (max-width: 1099px) {
div.layout__region--combined div.layout__region--second {
  justify-content: center;
  padding-right: 0px;
}
}

div.layout__region--combined div.layout__region--second div.field--item img {
  width: 100%;
}

span.solr-high {
  background-color: yellow;
}

div.layout__region.layout__region--center div.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item p {
  margin: 0 0 5px;
}

div.field-content p {
  margin: 0 0 8px;
}

