/************generel OiN adaptions *********************/

/***adaptions layout 1300px one sidebar********/
main#content > section.section > div.region > div.views-element-container {
  max-width: 1000px;
}

@media (min-width: 1100px){
main#content div.view-content {
  min-width: 1000px;
}
}

/********************page title and header region **************************************/

/****white title in third-level********/
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content >
section.section > div.region > div[class*="wisski_bundle_b"] > div.la {
  margin-top: -80px;
}

/*****suchschlitz**************/
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content >
section.section > div.region > div.views-element-container > div.view-suche > div.view-filters {
  top: -90px;
  max-width: fit-content;
}

h1.page-header {
  display: flex;
  font-size: 28px;
 #margin-bottom: 80px;
 #font-size: 2.7777777rem;
  margin-bottom: 90px;
  margin-top: -120px;
  color: white;
  border-bottom: none;
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1.page-title {
  font-size: 1.357em;
}

/*****site branding fachsysteme*******/
section.site-branding div.site-branding__text {
  position: absolute !important;
  font-size: 16px !important;
  color: #036 !important;
  font-weight: bold;
  display: flex;
  overflow: hidden;
  width: auto;
  top: -1.4em;
  padding-bottom: 0px;
  background-color: transparent;
  z-index: -1000;
  white-space: nowrap;
}

nav.tabs {
  margin-top: 100px;
  z-index: 10;
}

/*** beta-version ***/
section#block-version {
  transform: rotate(20deg);
  font-weight: bold;
  color: red;
  font-size: 18px;
  margin-top: -35px;
  margin-right: 50px;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  padding: 5px;
  border: 3px solid red;
  z-index: 2000;
  max-width: 65px;
  float: right;
}

/*** beta-version for mobile***/
@media only screen and (max-width: 1099px){
section#block-version {
  transform: rotate(20deg);
  font-weight: bold;
  color: red;
  font-size: 13px;
  margin-top: -30px;
  margin-left: 100px;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  padding: 5px;
  border: 3px solid red;
  z-index: 2000;
  max-width: 65px;
  float: left;
}
}

/****************header-level****************/

div#first-level {
  padding-right: 240px;
}

div#first-level .dropdown-menu > li > a {
  color: #003366;
}

div#first-level-wrapper {
  background-color: #e9edf2;
}

div#second-level div#main-menu {
  background-color: inherit;
#  background: url(images/siegel-zuv-schnitt.png) no-repeat 95% bottom,radial-gradient(ellipse at center, #0059b3 0%, #036 100%);
}

div#second-level div#main-menu div > nav > div.dropdown > ul > li > a {
  border-left: 1px solid white;
  color: white;
}

div#second-level-wrapper {
#  background: url(images/siegel-zuv-schnitt.png) no-repeat 95% bottom,radial-gradient(ellipse at center, #0059b3 0%, #036 100%);
  background: white;
}

div#second-level-wrapper div#header-items {
  position: absolute;
}

div#second-level div#main-menu {
  width: 960px;
  margin-right: 140px;
}

div#second-level div#main-menu > div.region {
  padding-top: 10px;
}

div#second-level div#main-menu div > nav > div.dropdown > ul > li > a {
  color: #036 !important;
  font-size: 1.1333333333rem !important;
  line-height: 1.1333333333rem !important;
  text-transform: initial !important;
  font-weight: bold !important;
  font-size: 17px !important;
  line-height: 17px !important;
}

div#third-level-wrapper a {
  color: white;
}

div#third-level-wrapper > div#third-level > div ol li {
  color: white;
  font-size: 12px;
}

div#third-level-wrapper > div#third-level {
  padding-top: 10px;
}

div#third-level-wrapper {
  background: url(../images/siegel-zuv-schnitt.png) no-repeat 95% bottom,radial-gradient(ellipse at center, #0059b3 0%, #036 100%);
  min-height: 170px;
}

/*********fau-logo**********/
div#gnm-logo {
  margin: 0px !important;
}

div#gnm-logo img {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  right: 240px;
}

/*********************** responsive adaptions*********************************/
@media (min-width: 1100px){
div.header-level {
  width: 1300px;
}
}

@media only screen and (max-width: 1599px){
div#main-wrapper div#main{
  justify-content: flex-start;
  padding-left: 10px;
}
}

@media only screen and (max-width: 1599px){
section#block-oin-palaeo-branding{
  padding-left: 10px;
}
}

/****************login*********************************/
@media (max-width: 1099px){
div#first-level {
  padding-right: 5px;
}
}

@media only screen and (max-width: 768px){
div#first-level {
  padding-right: 0px;
}
}

/*****************fau logo ******************/
@media (max-width: 768px){
div#second-level div#gnm-logo img {
  right: 0px;
}
}

/**align menu and page title***/
@media (max-width: 1599px){
div#second-level div#main-menu div > nav > div {
  padding-left: 10px;
}
}

@media (max-width: 1099px){
div#second-level div#main-menu div > nav > div .btn{
  padding-left: 5px;
}
}

@media (max-width: 1099px){
div#second-level div#main-menu ul.dropdown-menu {
  background-color: white;
}
}

@media (max-width: 1099px){
div#second-level div#main-menu div > nav > .dropdown {
    margin-top: 5px;
    display: block !important;
}
}


@media (max-width: 1099px){
div#second-level div#main-menu div > nav > div > button {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
}

@media (min-width: 1100px) {
div#second-level div#main-menu div > nav > div.dropdown > ul > li {
  padding-bottom: 5px;
}
}

@media (max-width: 1099px){
h1.page-header {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 0px;
  border-bottom:  1px solid #eee;
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #036;
}
}

/**overlay dropdown menu above main-content(page title or header)**/
@media (max-width: 1099px){
div#main-wrapper main#content{
  z-index: 0 !important;
}
}

@media (max-width: 1099px){
div#header-items section.site-branding div.site-branding__text{
  top: -1.4em;
}
}

/*******************sammlungsobjektansicht********************************/
div.field--item span.file-link a {
  display: inherit !important;
}
div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference div.layout--onecol div.layout__region div.field--type-string.field--label-above div.field--item {
    padding-bottom: 5px;
}

div.field.field--type-string-long.field--label-above{
  padding-bottom: 5px;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference
div.field--item{
  display: block;
}


div.field-readmore.field--type-string a {
  display: block;
  grid-column-start: 2;
  grid-column-end: 69;
#  padding-top: 5px;
#  padding-bottom: 5px;
}

/* gallery for too many img (region:secondabove):
 * first img ->under Manage display in Sammlungsobjekt:
 * Configuration for img: first child = large, others = thumb or other
 * small image style
 */

div.layout__region--secondabove div.field--name-f9f6ec483af5d17f193e5b999dc0843e div.field--item{
  display: inline-block;
}

div.layout__region--secondabove div.field--name-f9f6ec483af5d17f193e5b999dc0843e div.field--item:first-child{
  padding-bottom: 10px;
}

div.layout div.layout__region--combined div.layout__region--second{
  justify-content: left;
}

div.layout div.layout__region--bottom div.field.field--label-above div.field--label{
  padding-right: 10px;
}

div.layout--990px--one div.layout__region--bottom div.field.field--label-above div.field--label{
  padding-right: 10px !important;
  width: 170px;
}

div.layout__region--first > div.field--type-string.field--label-above >
div.field--label{
  width: 170px;
}

div.layout--990px--one  div.layout__region--center div.field.field--label-above >
div.field--label{
  padding-right: 10px !important;
  width: 170px;
}

/*********sidebar styling**************/
/***facets***/
section.block-facets h3 {
  padding-bottom: 5px;
  margin-bottom: 0px;
  font-size: 1.8rem;
}

/*****sgs specific: glossary facets*********/
section#block-oin-sgs-signatur{
  padding-top: 10px;
}

li.facet-item.glossaryaz.is-active.yes-results{
  background: #0059b3;
}

li.facet-item.glossaryaz.yes-results {
  background: #036;
  border: 0 none;
  color: #ffffff;
}

li.facet-item.glossaryaz.no-results {
  background-color: #e9edf2;
}

li.facet-item.glossaryaz.yes-results:hover{
  background: #ffcc96;
}

section.block-facet--glossaryaz li{  
 # display: inline-grid;
  min-width: 2.5em;
  min-height: 2.5em;
  list-style: none;
  text-align: center;
  float: left;
  margin: 1%;
  width: 5%;
  height: 5%;
  #min-width: 4em;
  #min-height: 4em;
  text-transform: capitalize;
  line-height: 2.5em;
  #font-weight: bold;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.1em;
}

.block-facets .glossaryaz.is-active a {
    border: 0 none;
    color: #ffffff;
}

.block-facets .glossaryaz.yes-results a {
    border: 0 none;
    color: #ffffff;
    display: block;
}

/***readmore***/
div#sidebar-second aside.section div.region section.block-views div.field div.field--items{
  list-style-type: none;
 # padding-left: 15px;
  margin-bottom: 15px;
}

/***no text indent, if title needs line break***/
div#sidebar-second ul{
  text-indent: 0px;
}

/***sidebar first blocks***/
div#sidebar-first aside.section div.region section.block {
  padding-bottom: 10px;
}

div#sidebar-first h2.block-title {
  font-size: 1.8rem;
  font-weight: bold !important;
}

@media only screen and (min-width: 1450px) {
div#sidebar-second {
  left: 40px;
  z-index: 0;
}
}

@media (max-width: 826px){
div#sidebar-second {
  margin-left: 10px;
  border-top: solid;
  border-bottom: solid;
  border-width: 2px;
  border-color: transparent;
  margin-top: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
}
}

@media only screen and (max-width: 1720px){
div#sidebar-first {
  margin-left: 10px;
  border-top: solid;
  border-bottom: transparent;
  border-width: 2px;
  border-color: transparent;
  margin-top: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  order: 3;
}
}

@media (max-width: 1099px){
div#second-level div#main-menu div > nav > div > button {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
}

/***for img with height constrains ***/
/**
@media only screen and (max-width: 968px){
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout div.field--name-f9f6ec483af5d17f193e5b999dc0843e
div:first-child img {
  max-height: 200px;
}
}
**/
@media only screen and (max-width: 768px){
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > div.views-element-container >
div.view-suche div.view-content div.views-view-grid div.views-row div.views-col{
  width: 100% !important;
}
}

@media only screen and (max-width: 768px){
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > div.views-element-container >
div.view-suche div.view-content span.views-field span.field-content div.layout__region--first{
  display: none !important;
}
}

div#sidebar-second aside.section div.well.region.region-sidebar-second {
  background-color: white;
  border: white;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-string.field--label-above >div.field--item{
  display: block;
  grid-column-start: 2;
  grid-column-end: 69;
  #grid-column-end:6;
}

div.layout div.layout__region--combined div.layout__region--first >div.field--type-text-long{
  display: contents;
  grid-column-start: 1;
  grid-column-end: 69;
}

div.field--type-text-long.field--label-above div.field--label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
}

div.field--type-text-long.field--label-above div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 69;
}

div.view-suche div.view-content div.views-field div.layout div.layout__region--bottom{
  display: none;
}

/*align grid columns, if you have different regions. Why I`m doing this? It´s friday and i want to go home.*/
div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference.field--label-above > div.field--items{
  display: block;
  grid-column-start: 2;
  #grid-column-end: 6;
  grid-column-end:69;
}

div.layout div.layout__region--bottom div.field.field--label-above div.field--items{
  display: block;
  grid-column-start: 2;
  #grid-column-end: 6;
  grid-column-end:69;
  padding-right: 15px;
}

div.layout--twocol div.layout__region--bottom div.field.field--label-above div.field--items{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;
}

div.layout div.layout__region--combined div.layout__region--first
div.layout__region--firstbelow div.field--type-entity-reference.field--label-above > div.layout--onecol div.layout__region div.field--type-string.field--label-above div.field--items {
  display: block;
  grid-column-start: 2;
 # grid-column-end: 6;
  grid-column-end:69;
}

div.layout__region div.layout__region--combined div.layout__region--second div.layout__region--secondbelow div.field--type-entity-reference
div.field--items  div.field--item{
  display: block;
}

div.layout--twocol div.layout__region--bottom{
  clear: both;
  padding-top: 20px;
}

div.layout div.layout__region--combined div.layout__region--first div.layout__region--firstbelow div.field--type-entity-reference div.field--items  div.field--item
div.field--type-string.field--label-above{
  padding-bottom: 5px;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference div.layout--onecol div.layout__region div.field--type-string.field--label-above
div.field--label{
  padding-top: 5px;
}

div#main-wrapper main#content section.section region.region div.layout--twocol--1100px--nosidebar--bricks div.layout__region--combined div.layout__region--second div.field--type-entity-reference div.field--items  div.field--item{
  display: block;
}

div.layout div.layout__region--combined div.layout__region--first div.layout__region--firstbelow  div.field--type-entity-reference.field--label-above > div.field--label{
  width: 170px;
}

div.layout div.layout__region--combined div.layout__region--first div.layout__region--firstabove  div.field--type-entity-reference.field--label-above > div.field--label{
  width: 170px;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-string.field--label-above >
div.field--items{
  display: block;
  grid-column-start: 2;
 # grid-column-end: 6;
  grid-column-end: 69;
}

/**
div.layout div.layout__region--combined div.layout__region--first >
div.field--type-string{
    display: contents;
    grid-column-start: 1;
    grid-column-end: 69;
}
**/

div.layout div.layout__region--firstbelow {
  clear: both;
  border-top: 2px solid #e5e5e5;
  padding-top: 20px;
  margin-right: 30px;
}

div.layout div.layout__region--firstabove{
  clear: both;
  padding-bottom: 20px;
}

div.layout div.layout__region--combined div.layout__region--first {
  padding-right: 10px;
  flex-basis: 47%; 
}

div.layout div.layout__region--combined div.layout__region--second {
  display: block;
  flex-basis: 30%;
  justify-content: end;
  padding-right: 10px;
  padding-top: 10px;
}

div.layout div.layout__region--bottom div.field.field--label-above div.field--label{
  padding-right: 0px;
}

div.layout div.layout__region--bottom div.field--type-entity-reference.field--label-above > div.field--label {
  display: grid;
  grid-column-start: 1;
# max-width: min-content;
  grid-column-end: 2;
  grid-template-columns: 100px 100px;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-text-long.field--label-above > div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 69;
  margin-bottom: 10px;
}

div.layout div.layout__region--combined div.layout__region--first > div.field--type-text-long.field--label-above > div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end:69;
  margin-bottom: 10px;
}

div.layout div.layout__region--combined div.layout__region--first div.field--type-entity-reference.field--label-above > div.field--label {
  display: grid;
  grid-column-start: 1;
 # max-width: min-content;
  grid-column-end: 2;
  grid-template-columns: 100px 100px;
}

div.field--type-text-long.field--label-above {
  display: block;
  grid-column-start: 1;
  grid-column-end: 69;
}

div.field--type-text-long.field--label-above div.field--item {
  display: block;
  grid-column-start: 2;
  grid-column-end: 69;
  margin-bottom: 10px;
}

div.layout div.layout__region--firstabove div.field--type-string
div.field--items div.field--item{
  display: block;
}

div.layout__region--secondbelow div.field--type-text-long.field--label-above div.field--item {
  display: inline-grid;
  grid-column-start: unset;
  grid-column-end: unset;
  margin-bottom: 10px;
}

div.field--type-text-long.field--label-above div.field--items {
  display: block;
  grid-column-start: 2;
  grid-column-end: 69;
  margin-bottom: 10px;
}

div.field--type-text-long div.field--items {
  padding-bottom: 10px;
}

div.field--label {
  font-weight: bold !important;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region > div[class*="wisski_bundle_b"] > div.la {
  margin-top: -80px;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche > div.view-filters {
  top: -90px;
  max-width: fit-content;
}

div.layout div.layout__region--first div.field--type-string div.field--items div.field--item{
  display: block;
}

div.layout div.layout__region--second div.field--type-entity-reference div.field--items div.field--item{
  display: block;
}

/***********************view-suche without overlay/popup**************************/
/****filter Volltextsuche*****/
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section >
div.region > div.views-element-container > div.view-suche > div.view-filters
form.views-exposed-form > div.form--inline > div.form-item {
  padding-right: 15px;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section >
div.region > div.views-element-container > div.view-suche > div.view-filters
form.views-exposed-form  div.form--inline  div.form-item
label.control-label{
  display: block;
}

@media (min-width: 768px){
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section >
div.region > div.views-element-container > div.view-suche > div.view-filters
form.views-exposed-form > div.form--inline > div.form-item
div.select-wrapper select{
  min-width: 140px;
}
}

@media (min-width: 768px){
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section >
div.region > div.views-element-container > div.view-suche > div.view-filters
form.views-exposed-form > div.form--inline > div.form-group{
  vertical-align: unset;
}
}

/* view suche*/
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout div.field--name-f9f6ec483af5d17f193e5b999dc0843e
div:first-child {
  display: block !important;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout div.field--name-f9f6ec483af5d17f193e5b999dc0843e
div:first-child img {
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  #height: 300px;
  object-fit: cover;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout  {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

/**change order of layout__regions: order:**/
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout div.layout__region--second {
  padding: 0px !important;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche  div.view-content  div.views-field
span.field-content div.layout div.layout__region--title{
  padding-right: 15px;
  padding-bottom: 5px;
  margin-top: 15px;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region 
> div.views-element-container > div.view-suche div.view-content span.views-field 
span.field-content div.layout__region--title > div.field {
    font-size: 1.8rem !important;
    font-weight: normal;
    padding-bottom: 15px;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout div.field--name-f9f6ec483af5d17f193e5b999dc0843e
div {
  display: none;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout__region--first {
  display: none;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout__region--combined div.layout__region--second div.field--item {
  margin-bottom: 0px;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout__region--second {
  display: flex !important;
  flex-basis: 100% !important;
  justify-content: center !important;
  float: none !important;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field span.field-content div.layout__region--title >
div.field--name-name > a {

}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout__region--title {
  position: relative;
  display: flex !important;
  flex-basis: 100% !important;
  #justify-content: center !important;
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
}

body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region
> div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout__region--title > div.field {
  font-size: 1.2em !important;
  padding-bottom: 0px;
}
/**
@media only screen and (min-width: 1850px) {
div#sidebar-second {

  left: 80px;
  z-index: 0;
}
}
**/
/*********************responsive view-suche************************/

/****optional: img with height-constraints*******/
@media only screen and (max-width: 768px){
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section >
div.region > div.views-element-container > div.view-suche div.view-content span.views-field
span.field-content div.layout div.field--name-f9f6ec483af5d17f193e5b999dc0843e div:first-child img {
  max-height: 200px;
}
}

/********reduce object per row********/
@media only screen and (max-width: 768px){
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section >
div.region > div.views-element-container > div.view-suche div.view-content div.views-view-grid div.views-row div.views-col{
  width: 50% !important;
}
}

@media only screen and (max-width: 480px){
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section >
div.region > div.views-element-container > div.view-suche div.view-content div.views-view-grid div.views-row div.views-col{
  width: 100% !important;
}
}

@media only screen and (max-width: 768px){
body > div > div#page-wrapper > div#page > div#main-wrapper > div#main > main#content > section.section > div.region >
div.views-element-container > div.view-suche div.view-content span.views-field span.field-content div.layout__region--first{
  display: none !important;
}
}

@media (min-width: 1100px){
main#content > section.section > div.region > div.views-element-container div.view-id-suche {
  width: 1000px;
  margin-top: -10px;
}
}

@media (min-width: 1100px){
main#content > section.section > div.region > div.views-element-container div.view-id-suche div.view-header {
  width: 1000px;
}
}

@media (min-width: 1100px){
main#content > section.section > div.region > div.views-element-container div.view-id-suche div.view-content {
  min-width: 800px;
}
}

/**RESET Button**/
button.btn-danger {
  background-color: #036;
  border-color: #036;
}

.search-row.views-row {
  clear: both;
  float: left;
  padding-bottom: 50px;
  width: 100%;
}

.search-row.views-row div.layout {
  max-width: 100%;
  width: 100%;
  word-break: break-word;
}

main#content > section.section > div.region > div.views-element-container > div.view-id-suche nav.pager-nav {
  clear: both;
}

header#header div.region-secondary-menu nav div.dropdown ul li a[href="/suche"]:before {
  content: "\e003";
  position: absolute;
  top: 0px;
  left: -10px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

header#header div.region-secondary-menu nav div.dropdown ul li a[href="/suche"] {
}


/*********************sidebar styling*********************/

/********facets***************/
section.block-facets h3 {
  padding-bottom: 5px;
  margin-bottom: 0px;
  font-size: 1.8rem;
}

/*********sidebar second ***********/
/**
div#sidebar-second aside.section div.region section.block-views {
  padding-bottom: 10px;
}
**/

/***readmore***/
div#sidebar-second aside.section div.region section.block-views div.field div.field--items{
  list-style-type: none;
  padding-left: 15px;
  margin-bottom: 15px;
}

/***no text indent at line break***/
div#sidebar-second ul{
  text-indent: 0px;
}


div#sidebar-second aside.section div.well.region.region-sidebar-second {
  background-color: white;
  border: white;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/**************sidebar first******/
div#sidebar-first aside.section div.region section.block {
  padding-bottom: 10px;
}

div#sidebar-first h2.block-title {
  font-size: 1.8rem;
  font-weight: bold !important;
}


/*********responsive adaptions*****************/

/**location of slidebar: right**/

@media only screen and (min-width: 1100px) {
div#sidebar-second {
  left: 0px;
  margin-left: 50px;
  z-index: 2;
}
}

/***location of sidebar: before main#content****/
/**
@media only screen and (max-width: 1329px) {
div#sidebar-second {
  order: 1;
  margin-right: 50px;
  margin-left: 5px;
  z-index: 2;
  left: 0px;
}
}

@media only screen and (max-width: 1329px) {
div#sidebar-second aside.section div.region-sidebar-second {
  display: flex;
  flex-basis: 30%;

}
}
**/
/**end of changes: before main#content**/

@media only screen and (max-width: 1399px){
div#sidebar-first {
  margin-left: 10px;
  border-top: solid;
  border-bottom: transparent;
  border-width: 2px;
  border-color: transparent;
  margin-top: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
}

/****************main content ********************/
div#main-wrapper main#content {
  position: relative;
  z-index: 2;
  width: 1000px;
  padding-top: 20px;
}

div#main-wrapper div[class*="wisski_bundle_b"] div.layout__region--title {
  color: white;
}

div.layout__region--title div.field {
  color: white;
  font-size: 2.7733333333rem !important;
  line-height: 2.7733333333rem;
  padding-bottom: 20px;
}

a {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

html {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-kerning: none !important;
}

html body {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-kerning: none !important;
}


/*******************************footer****************************/
footer {
#  background: url(images/siegel-zuv-schnitt.png) no-repeat 95% bottom,radial-gradient(ellipse at center, #0059b3 0%, #036 100%);
  background-color: #e9edf2;
}

footer div.layout-container {
  max-width: 1300px;
  margin-right: 100px;
}
footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen{
  display: flex;
  justify-content: unset;
  padding-top: 10px;
  clear: both;
}

footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen div#bilddaten {
  padding-right: 10px;
  border-right: 0.5px solid #023d77;
}


footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen
div#metadaten {
  padding-left: 10px;
}

footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen div#bilddaten img{
  height: auto;
  max-width: 90px;
  float: right;
  padding-left: 10px;
}

footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen
div#metadaten img{
  height: auto;
  padding-left: 10px;
  float: right;
  max-width: 90px;
}

/******footer responsive***********/

@media only screen and (max-width: 999px){
footer div.layout-container div#footer-left div#footer-left-bottom div#footer-lizenzen{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  clear: both;
}
}

@media only screen and (max-width: 1099px){
footer div.layout-container {
  margin-right: 0px;
}
}

@media only screen and (max-width: 1499px){
footer div.layout-container div#footer-left div#footer-left-top div#footer-gnm{
  width: unset;
  margin-right: 20px;
  max-width: 250px;
}
}

@media only screen and (max-width: 1499px){
footer div.layout-container div#footer-left div#footer-left-top div#footer-contactdata{
  width: unset;
  margin-right: 10px;
  max-width: 250px;
  min-width: unset;
}
}

@media only screen and (max-width: 1499px){
div#footer-left {
  min-width: unset;
  margin-left: 0px;

}
}

@media only screen and (max-width: 1199px){
div#footer-left {
  min-width: unset;
  max-width: 45%;
}
}

@media only screen and (max-width: 950px){
div#footer-left {
  min-width: unset;
  max-width: 100%;
  margin-left: 0px;
}
}

@media only screen and (max-width: 1199px){
footer div.layout-container div#footer-right div#footer-right-gnm{
  max-width: 200px;
}
}

@media only screen and (max-width: 1199px){
footer div.layout-container div#footer-right div#footer-right-wisski{
  max-width: 200px;
}
}

@media only screen and (max-width: 1099px){
footer div.layout-container{
  font-size: 14px;
  justify-content: start;
  -webkit-justify-content: start;
}
}

@media only screen and (max-width: 1599px){
footer div.layout-container div#footer-right img{
  max-width: 150px;
}
}

@media only screen and (max-width: 1499px){
footer div.layout-container div#footer-left img{
  max-width: 170px;
}
}

div#main-wrapper div[class*="wisski_bundle_b"] div.layout__region--title {
  color: white;
}

div.layout__region--title div.field {
  color: white;
  font-size: 1.7733333333rem !important;
  line-height: 1.7733333333rem !important;
}

a {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

html {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-kerning: none !important;
}

html body {
  font-family: "roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-kerning: none !important;
}

footer {
#  background: url(images/siegel-zuv-schnitt.png) no-repeat 95% bottom,radial-gradient(ellipse at center, #0059b3 0%, #036 100%);
  background-color: #e9edf2;
}

.visually-hidden {
  height: 0px;
}

body a {
  color: #003366;
}

div.select-wrapper:after {
  color: #003366;
}

.views-view-grid div.views-row {
  height: auto;
  width: 100%;
  clear: initial;
}

body.path-wisski div.region-content div#block-halfpastthreegrain-page-title {
  display: none;
  position: absolute;
#  top: 30px;
  left: 17px;
#  left: 98px;
#  max-width: 55%;
  height: 45px;
  overflow: hidden;
#  top: 234px;
#  left: 234px;
}

div.region-content {
  position: relative;
}

div.bef-link-active a {
  color: black !important;
}

/***personen**/

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_person > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_person > div > div {
  display: inline-block;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_person {
  float: none;
}

/**koerperschaften****/

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_organisation > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline  div.form-item-wisski_path_gemeinsame_masken__name_organisation > div > div {
  display: inline-block;
}

div#block-halfpastthreegrain-breadcrumbs {
  z-index: 10;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_organisation {
  float: none;
}

/***orte***/

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_geogr_ort > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_geogr_ort > div > div {
  display: inline-block;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_gemeinsame_masken__name_geogr_ort{
  float: none;
}

/****schularten****/

.bef-exposed-form .form--inline div.form-item-wisski_path_sammlungsspezifika__bezeichnung_schulart > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_sammlungsspezifika__bezeichnung_schulart > div > div {
  display: inline-block;
}

.bef-exposed-form .form--inline div.form-item-wisski_path_sammlungsspezifika__bezeichnung_schulart{
  float: none;
}


/**********sgs-specific view-tables Korrekturlisten*************/

div.table-responsive {
  overflow-x: inherit;
}

@media (max-width: 1099px){
div.table-responsive {
  overflow-x: auto;
}
}

table {
  width: 100%;
  border: 2px solid #f2f2f2;
  margin-top: 10px;
  margin-bottom: 10px;
}

table tr {
  border-top: 2px solid #f2f2f2;
}

table tr th {
  max-width: 140px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

 table tr td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

main#content > section.section > div.region > div.views-element-container div.view-id-fotos_und_dias{
  #left: -150px;
  font-size: 12px;
}

div.view-id-fotos_und_dias div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;
  
}

div.view-id-fotos_und_dias div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-fotos_und_dias div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}


main#content > section.section > div.region > div.views-element-container div.view-id-zeugnisse{
  font-size: 12px;
  #left: -150px;
}

div.view-id-zeugnisse div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;  
}

div.view-id-zeugnisse div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-zeugnisse div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

main#content > section.section > div.region > div.views-element-container div.view-id-objekte_aus_dem_schulalltag_von_schulern_hergestellt{
  font-size: 12px;
  #left: -150px;
}

div.view-id-objekte_aus_dem_schulalltag_von_schulern_hergestellt div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;  
}

div.view-id-objekte_aus_dem_schulalltag_von_schulern_hergestellt div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

div.view-id-objekte_aus_dem_schulalltag_von_schulern_hergestellt div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

main#content > section.section > div.region > div.views-element-container div.view-id-lehrer_dokumente_und_quellen{
  font-size: 12px;
  #left: -150px;
}

div.view-id-lehrer_dokumente_und_quellen div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-lehrer_dokumente_und_quellen div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;
}

div.view-id-lehrer_dokumente_und_quellen div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

main#content > section.section > div.region > div.views-element-container
div.view-id-dokumente_zur_schulorganisation{
  font-size: 12px;
  #left: -150px;
}

div.view-id-dokumente_zur_schulorganisation div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-dokumente_zur_schulorganisation div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;
}

div.view-id-dokumente_zur_schulorganisation div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

main#content > section.section > div.region > div.views-element-container
div.view-id-graphische_darstellungen_zur_schule{
  font-size: 12px;
  #left: -150px;
}

div.view-id-graphische_darstellungen_zur_schule div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;
}

div.view-id-graphische_darstellungen_zur_schule div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-graphische_darstellungen_zur_schule div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

main#content > section.section > div.region > div.views-element-container
div.view-id-unterrichtsmittel{
  font-size: 12px;
  #left: -150px;
}

div.view-id-unterrichtsmittel div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-unterrichtsmittel div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;
}

div.view-id-unterrichtsmittel div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

main#content > section.section > div.region > div.views-element-container
div.view-id-schulhefte_prufungsaufgaben{
  font-size: 12px; 
  #left: -150px;
}

div.view-id-schulhefte_prufungsaufgaben div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-schulhefte_prufungsaufgaben div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;
}

div.view-id-schulhefte_prufungsaufgaben div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

/********ausstellungstabellen ****************/
main#content > section.section > div.region > div.views-element-container
/div.view-id-ausstellung_umgang_ns_themenbereich_medien{
  font-size: 12px;
}

div.view-id-ausstellung_umgang_ns_themenbereich_medien div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;

}

div.view-id-ausstellung_umgang_ns_themenbereich_medien div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-ausstellung_umgang_ns_themenbereich_medien div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

main#content > section.section > div.region > div.views-element-container div.view-id-ausstellung_umgang_ns_themenbereich_schule_und_bildung{
  font-size: 12px;
}

div.view-id-ausstellung_umgang_ns_themenbereich_schule_und_bildung div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;

}

div.view-id-ausstellung_umgang_ns_themenbereich_schule_und_bildung div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-ausstellung_umgang_ns_themenbereich_schule_und_bildung div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

main#content > section.section > div.region > div.views-element-container div.view-id-ausstellung_umgang_ns_themenbereich_militar{
  font-size: 12px;
}

div.view-id-ausstellung_umgang_ns_themenbereich_militar div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;

}

div.view-id-ausstellung_umgang_ns_themenbereich_militar div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-ausstellung_umgang_ns_themenbereich_militar div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

main#content > section.section > div.region > div.views-element-container div.view-id-ausstellung_umgang_ns_themenbereich_familie{
  font-size: 12px;
}

div.view-id-ausstellung_umgang_ns_themenbereich_familie div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;

}

div.view-id-ausstellung_umgang_ns_themenbereich_familie div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-ausstellung_umgang_ns_themenbereich_familie div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

main#content > section.section > div.region > div.views-element-container div.view-id-ausstellung_umgang_ns_themenbereich_justiz{
  font-size: 12px;
}

div.view-id-ausstellung_umgang_ns_themenbereich_justiz div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;

}

div.view-id-ausstellung_umgang_ns_themenbereich_justiz div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-ausstellung_umgang_ns_themenbereich_justiz div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}

main#content > section.section > div.region > div.views-element-container div.view-id-ausstellung_umgang_ns_themenbereich_institutionen{
  font-size: 12px;
}

div.view-id-ausstellung_umgang_ns_themenbereich_institutionen div.field--type-text-long.field--label-above{
  display: block;
  grid-column-start: unset;
  grid-column-end: unset;

}

div.view-id-ausstellung_umgang_ns_themenbereich_institutionen div.field--type-text-long.field--label-above div.field--label{
  display: none;
}

div.view-id-ausstellung_umgang_ns_themenbereich_institutionen div.field--type-text-long.field--label-above div.field--item{
  margin-top: 5px;
  margin-bottom: 5px;
}


/******************* Startseite *************/

div.fade {
  opacity: initial;
  -webkit-transition: initial;
  -o-transition: initial;
  transition: initial;
}

div.mySlides div.views-row {
#  padding-left: 50px;
#  padding-right: 50px;
  margin-bottom: 0px;
#  padding-top: 50px;
#  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

div.mySlides div.views-row div.views-col {
  margin: 0px;
  padding: 0px;
#  padding-left: 50px;
#  padding-right: 50px;
#  margin-bottom: 10px;
#  margin-right: 10px;
  display: inline-block;
  width: 16.6%;
#  height: 400px;
  float: left;
#  border-width: 2px;
#  border-radius: 5px;
#  border-style: solid;
#  border-color: rgb(200,200,200);
}

div.mySlides div.views-row div.views-col div.views-field-preview-image {
  display: flex;
  position: relative;
  justify-content: center;
  height: 300px;
  overflow: hidden;
}

div.mySlides div.views-row div.views-col div.views-field-preview-image img {

  height: 200%;
  position: absolute;
  top: -30%;
  left: 0%;
#  width: 600px;
  max-width: none;
#  width: auto;

}

div.mySlides div.views-row div.views-col div.views-field-title:hover {
  display: block;
}

div.mySlides div.views-row div.views-col:hover div.views-field-title {
  display: block;
}

div.mySlides div.views-row div.views-col {
  position: relative;
}

div.mySlides div.views-row div.views-col div.views-field-title {
  display: none;
  bottom: 0px;
  position: absolute;
#  height: 90px;
#  padding-top: 110px;
#  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 20;
  width: 100%;
  text-align: center;
  padding: 10px 30px 10px 30px;
  background-color: #464646;
  background-color: rgba(242, 242, 242, 0.6);
}

div.mySlides div.views-row div.views-col div.views-field-title a:hover, div.mySlides div.views-row div.views-col div.views-field-title a:focus {
    color: #464646;
    text-decoration: underline;
}

div.mySlides div.view-header h2 {
    position: absolute;
    z-index: 1;
    background-color: white;
#    border: 2px  red;
    width: 800px;
    display: flex;
    transform: rotate(25deg);
    font-size: xx-large;
    justify-content: center;
    top: 45%;
    left: 28%;
    opacity: 0.6;
    text-transform: uppercase;
}

div.slideshow-container {
  background: #e5e5e5;

}

div.field--name-fcd9c8af4f943070510633f1e1dedace > div.field__item {
  padding-bottom: 10px;
}


div.field--label-hidden > div.field__item {
  grid-column-start: 1;
  grid-column-end: 69;
}

.dotties {
    display: block;
    width: 250px;
    padding-top: 8px;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
    position: relative;
    top: 0px;

}


/**Oin Suche **/

div#main main#content div.view-suche div.view-content div.views-col {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/** Institutionen **/

div#main main#content div.view-b1ce4bdc2e5683f5fdabab02e6627121 div.view-content div.views-col {
  text-align: center;
  padding: 20px;
}

div#main main#content div.view-b1ce4bdc2e5683f5fdabab02e6627121 div.view-filters div.form-item {
  width: 100%;
  margin-top: 10px;
}

div#main main#content div.view-b1ce4bdc2e5683f5fdabab02e6627121 button {
  display: none;
}

div#main main#content div.view-b1ce4bdc2e5683f5fdabab02e6627121 div.view-header {
  float: right;
  position: absolute;
  top: -20px;
  margin-top: 5px;
  margin-right: 10px;
}

@media (max-width: 768px){
div#main main#content div.view-b1ce4bdc2e5683f5fdabab02e6627121 div.view-content
div.views-col{
  width: 50% !important;
}
}

/** Personen **/
div#main main#content div.view-bd9c096f185635434163360c45fc645d div.view-content div.views-col {
  text-align: center;
  padding: 20px;
}

div#main main#content div.view-bd9c096f185635434163360c45fc645d div.view-filters div.form-item {
  width: 100%;
}

div#main main#content div.view-bd9c096f185635434163360c45fc645d button {
  display: none;
}

div#main main#content div.view-bd9c096f185635434163360c45fc645d div.view-header {
  float: right;
  position: absolute;
  top: -20px;
  margin-top: 0px;
  margin-right: 10px;
}

@media (max-width: 768px){
div#main main#content div.view-bd9c096f185635434163360c45fc645d div.view-content
div.views-col{
  width: 50% !important;
}
}

/** Orte **/
div#main main#content div.view-b6bbebe296631e440003692eac4390dc div.view-content div.views-col {
  text-align: center;
  padding: 20px;
}

div#main main#content div.view-b6bbebe296631e440003692eac4390dc div.view-filters div.form-item {
  width: 100%;
  margin-top: 10px;
}

div#main main#content div.view-b6bbebe296631e440003692eac4390dc button {
  display: none;
}

div#main main#content div.view-b6bbebe296631e440003692eac4390dc div.view-header {
  float: right;
  position: absolute;
  top: -20px;
  margin-top: 0px;
  margin-right: 10px;
}


@media (max-width: 768px){
div#main main#content div.view-b6bbebe296631e440003692eac4390dc div.view-content
div.views-col{
  width: 50% !important;
}
}

/**Schultarten**/


div#main main#content div.view-b0f194dacfca4d5e420585bedf5d0390 div.view-content div.views-col {
  text-align: center;
  padding: 20px;
}

div#main main#content div.view-b0f194dacfca4d5e420585bedf5d0390 div.view-filters div.form-item {
  width: 100%;
  margin-top: 10px;

}

div#main main#content div.view-b0f194dacfca4d5e420585bedf5d0390 button {
  display: none;
}

div#main main#content div.view-b0f194dacfca4d5e420585bedf5d0390 div.view-header {
  float: right;
  position: absolute;
  top: -20px;
  margin-top: 0px;
  margin-right: 10px;
}

@media (max-width: 768px){
div#main main#content div.view-b0f194dacfca4d5e420585bedf5d0390 div.view-content
div.views-col{
  width: 50% !important;
}
}


/* adaptions away from gnm2018 */
/**med suche padding-right: 0px -> 10px**/
div.layout__region--combined div.layout__region--first {
  padding-right: 10px;
  flex-basis: 66%;
}

/**med suche display: grid -> inline-block; padding-top: 0px -> 10px**/
div.layout div.layout__region--combined div.layout__region--second {
  display: inline-block;
  flex-basis: 30%;
  justify-content: end;
  padding-right: 10px;
  padding-top: 0px;
}

/**RESET Button **/
button.btn-danger {
  background-color: #036;
  border-color: #036; 
}

/**med: hide operator-label**/
@media (min-width: 768px){
.form-inline .control-label {
 display: none;
}
}
@media (max-width: 1099px) {
div.layout__region--combined div.layout__region--second {
  justify-content: center;
  padding-right: 0px;
}
}

div.layout__region--combined div.layout__region--second div.field--item {
  margin-bottom: 5px;
  display: inline-grid;
  #margin-right: 15px;
}

div.layout__region--combined div.layout__region--second div.field--item img {
  width: 100%;
  padding-bottom: 5px;
}

/* personen und institutionen */
/* sachstandsbericht: padding top */
div.field--name-f8509d98a943379b0ca61e18d1636394 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* personen bio */
div.field--name-f76763a7adb8f4964ac0e00558359510 {
  padding-top: 30px;
  padding-bottom: 30px;
}

div.layout div.layout__region--bottom {
  clear: both;
}

.search-row.views-row {
  clear: both;
  float: left;
  padding-bottom: 50px;
  width: 100%;
}

.search-row.views-row div.layout {
  max-width: 100%;
  width: 100%;
  word-break: break-word;
}

main#content > section.section > div.region > div.views-element-container > div.view-id-suche nav.pager-nav {
  clear: both;
}


@media (min-width: 1100px) {
main#content > section.section > div.region > div.views-element-container div.view-id-suche {
  width: 1000px;
  margin-top: -10px;
}
}

@media (min-width: 1100px) {
main#content > section.section > div.region > div.views-element-container div.view-id-suche div.view-header {
  width: 1000px;
}
}

@media (min-width: 1100px) {
main#content > section.section > div.region > div.views-element-container div.view-id-suche div.view-content {
  min-width: 800px;
}
}

header#header div.region-secondary-menu nav div.dropdown ul li a[href="/suche"]:before {
    content: "\e003";
    position: absolute;
    top: 0px;
    left: -10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

header#header div.region-secondary-menu nav div.dropdown ul li a[href="/suche"] {

}

div.layout div.layout__region--combined div.layout__region--first div.field--name-b6af67dc5c6376b98a2772dbfdbbc476 > div.field--items > div.field--item {
  display: block;
  clear: both;
}

div.field--name-f1621dd2af001f2f8b9e61b67040bbad {
  padding-bottom: 10px;
}

span.solr-high {
  background-color: yellow;
}

div.layout__region.layout__region--center
div.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item
p {
margin: 0 0 5px;
}

div.field-content p {
margin: 0 0 8px;
}

